<link rel="stylesheet" href="/stylesheet/navbar.css">
<% if (user) { %>
    <nav id="signed-in">
        <a class="navbar" href="/games/armoury">Armoury</a>
        <a class="navbar" href="/profiles/myProfile">Inventory</a>
        <a class="navbar" href="/profiles">All Profiles</a>
        <a class="navbar" href="/auth/sign-out">Sign Out</a>
    </nav>
    <% } else { %>
    <nav id="not-signed-in">
        <a class="navbar" href="/auth/sign-up">Sign Up</a>
        <a class="navbar" href="/auth/sign-in">Sign In</a>
        <a class="navbar" href="/">Home</a>
    <% } %>
</nav>