<link rel="stylesheet" href="/stylesheet/navbar.css">
<nav>
    <% if (user) { %>
        <a href="/games/armoury">Armoury</a>
        <a href="/profiles/myProfile">Inventory</a>
        <a href="/profiles">All Profiles</a>
        <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Sign In</a>
    <% } %>
</nav>