<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/mainStyle.css">
  <title>Community Page</title>
</head>
<body>
  <%- include('../../partials/_navbar.ejs') %>
  <div id="form">
    <h1><span><%= mainUser.username %>,</span> welcome to the <span>Community Page!</span></h1>
    <div id="community-page-container">
    <div id="community-page-profiles">
    <% allUsers.forEach((user) => { %>
      <% if (mainUser.username !== (user.username)) { %> 
      <div>
        <h2><%= user.username %>: <a id="game-link" href="/profiles/<%= user._id %>">Profile</a><h2>
      </div>
      <% } %>
    <% }) %>
  </div>
  </div>
  </div>
</body>
</html>
