<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/mainStyle.css">
  <title>Profile Page</title>
</head>
<body>
  <%- include('../../partials/_navbar.ejs') %>
    <h1><%= user.profile.firstName %>, welcome to the community page!</h1>
    <ul>
    <% allUsers.forEach((user) => { %>
      <li>
        <h2><%= user.username %></h2>
          <a href="/profiles/<%= user._id %>">Profile</a>
      </li>
    <% }) %>
    </ul>

</body>
</html>
