@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');


body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: white;
    background: linear-gradient(to top, #393939 35%, #6E6E6E 95%);
    background-attachment: fixed;
    
}

h3 {
    margin-top: 3%;
}

button {
    align-items: center;
    background: linear-gradient(to top, #ff5a09, #f3843e 75%);    
    border-radius: 12px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s;
    border: 0;
  }
  
button:hover {
    box-shadow: #FF9900 0 0 7px;
}

p {
    color: darkgray;
    text-align: center;
    display: inline;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

input {
    margin: auto;
}

span {
    font-family: "Playwrite AR", cursive;
    color: #f3843e;    
}


li {
    list-style-type: none;
}

img {
    display: inline-block;
    margin: 0px 5px;
    width: 150px;
}


a {
    background: linear-gradient(to top, #ff5a09, #f3843e 75%);    
    border-radius: 12px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s;
    white-space: nowrap;
    border: 0;
}

h2 {
    display: inline-block;
}

.whyAreYouOffALittle {
    transform: translate(-1%);
}

.game-library {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 2%;
    padding: 4px;
    width: 30%;
    overflow-x: auto;
    overflow-y: hidden;
}

#description {
    width: 100%;    
}

#gameScrollBox {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 30%;
    overflow-x: auto;
    overflow-y: hidden;
}

#container {
    margin-top: 3%;
    text-align: center;
    margin-bottom: -2%;
}

#transparent {
    background: transparent;
}

#game-title {
    display: flex;
    justify-content: center;
    margin: auto;
    width: fit-content;
    padding: 0px 5px;
}

#game-title:hover {
    box-shadow: #FF9900 0 0 7px;
}

#game-link {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-right: 5px;
    margin-top: 5px;
    width: fit-content;
    padding: 0px 5px;
}

#game-link:hover {
    box-shadow: #FF9900 0 0 7px;
}

#form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    padding: 0px 10px;
}

#removeInline {
    display: contents;
}

#community-page-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 4px 0 4px;
}

#community-page-profiles {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 4px 0 4px;
}

