@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#not-signed-in {
    display: flex;
    flex-direction: row-reverse;
}

#signed-in {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.navbar {
        align-items: center;
        background: linear-gradient(to top, #ff5a09, #f3843e 75%);    
        border-radius: 12px;
        box-sizing: border-box;
        color: #ffffff;
        display: inline-flex;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 10px;
        outline: none;
        padding: 1rem 1.2rem;
        text-align: center;
        text-decoration: none;
        transition: box-shadow .2s;
        white-space: nowrap;
        border: 0;
}

.navbar:hover {
    box-shadow: #FF9900 0 0 7px;
}
