<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <title>Home</title>
</head>
<body>
  <div id="sign-container">
    <h1><span id="title">Gamoury</span></h1>
    <br />
    <div id="quote">
      <p>The Game Armoury for gamers. <br />
          Your inventory at your disposal.
      </p>
    </div>
    <br />
    <div id="login-portal">
      <div id="sign-up-button">
        <form action="/auth/sign-up" method="get"> 
          <button type="submit" class="sign-up">Sign Up</button>
        </form>
      </div>
      <div id="sign-in-button">
        <form action="/auth/sign-in" method="get">
          <button type="submit" class="sign-in">Sign In</button>
        </form>
      </div>
    </div>
    <div id="quote">
      <p>"A sword wields no strength <br /> unless the hand that holds it has courage" <br /> - Legend of Zelda: Twilight Princess </p>
    </div>
    </div>
  </div>
  <div id="shape-container">
  <div id="triangle-bottom-left"></div>
  <div id="triangle-bottom-right"></div>
  <div id="triangle-top-left"></div>
  <div id="triangle-top-right"></div>
  </div>
</body>
</html>
