<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <title>Login Page</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to Gamoury!</h1>
  <div id="login-portal">
    <div id="sign-up-button">
    <form action="/auth/sign-up" method="get"> 
      <button type="submit">Sign Up</button>
    </form>
    </div>
    <div id="sign-in-button">
    <form action="/auth/sign-in" method="get">
      <button type="submit">Sign In</button>
    </form>
  </div>
  </div>
</body>
</html>
